camera.host=source.unsplash.com
camera.port=443
camera.ssl=true
camera.endpoint=1600x900
camera.query=face=1

player.host=api.quotable.io
player.port=443
player.ssl=true
player.endpoint=random

recognition.service.host=localhost
recognition.service.port=8181
recognition.service.ssl=false
recognition.service.endpoint=/

telegram.host=api.quotable.io
telegram.port=443
telegram.ssl=true
telegram.endpoint=random